main{
    
    height: 1000px
}

h1 {
    color: var(--roxo);
    font-weight: 500;
    margin-top: 2.8em;
    width: 82vw;
    margin-left: 4em;
}

hr {
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}


/* menu  */
.nav_tabs {
    background-color: #fff;
    position: relative;
    margin-left: 14em;
    margin-top: 2em;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
}

.tab_label{
    /* display: block; */
    width: 300px;
    padding: 25px;
    font-size: 20px;
    color: var(--roxo);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}


.nav_tabs .rd_tab { 
display:none;
position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
text-decoration: underline;
}

.tab-content{
background-color: #fff;
display: none;
position: absolute;
left: 0;	
}

.rd_tab:checked ~ .tab-content{
display: block;
}

.tab-content article{
padding: 10px;
}


/* tela */

.linha {
    margin-top: 2em;
    list-style: none;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 1em;
    width: 60em;
    height: 6em;
}

.li_imagem{
    width: 10vw;

}

/* .li_imagem img{
    
} */

.li_titulo{
    width: 15vw;

}

.li_descricao{
    width: 20vw;

}
